.joined-users {
    margin: 1% 1%;
}

#joined-users-text {
    font-size: 14px;
    margin-top: 2%;
    margin-left: 2%;
}

.dp
{
    border:6px solid white;
    width: 90px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.dp:hover
{
    border:2px solid white;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);  
    -webkit-transform:rotate(360deg);  
}

#event-title-section {
    margin-bottom: 5%;
}

.btn-main-sm {
    padding: 10px 10px;
    background-color: #4eb980;
    border: 1px solid #4eb980;
    color: white;
    border-radius: 5px;
}
#post-review-btn {
    margin-top: 2%;
}

dt {
    float: left;
}

dd {
    margin-left: 15% !important;
}

.background-image {
    background-image: url(../img/banner-blurred.jpg);
}

.no-padding.col-lg-3, .no-padding.col-md-3, .no-padding.col-sm-10, .no-padding.col-lg-6, .no-padding.col-md-6, .no-padding.col-sm-12 {
     padding-left: 0px; 
     padding-right: 0px;
}

.joined-friends {
    margin-top: 6%;
    margin-bottom: 6%;
}

.description {
    padding-left: 4%;
    padding-right: 4%;
}

#write-comment, #see-comments {
    margin-top: 6%;
}

.map {
    padding-top: 4%;
}