.joined-users {
    margin: 1% 1%;
}

#joined-users-text {
    font-size: 14px;
    margin-top: 2%;
    margin-left: 2%;
}

.dp
{
    border:6px solid white;
    width: 90px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.dp:hover
{
    border:2px solid white;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);  
    -webkit-transform:rotate(360deg);  
}

#event-title-section {
    margin-bottom: 5%;
}

.btn-main-sm {
    padding: 10px 10px;
    background-color: #4eb980;
    border: 1px solid #4eb980;
    color: white;
    border-radius: 5px;
}
#post-review-btn {
    margin-top: 2%;
}

dt {
    float: left;
}

dd {
    margin-left: 15% !important;
}

.background-image {
    background-image: url(../img/banner-blurred.jpg);
}

.no-padding.col-lg-3, .no-padding.col-md-3, .no-padding.col-sm-10, .no-padding.col-lg-6, .no-padding.col-md-6, .no-padding.col-sm-12 {
     padding-left: 0px; 
     padding-right: 0px;
}

.joined-friends {
    margin-top: 6%;
    margin-bottom: 6%;
}

.description {
    padding-left: 4%;
    padding-right: 4%;
}

#write-comment, #see-comments {
    margin-top: 6%;
}

.map {
    padding-top: 4%;
}

/*Comments*/
.mbr-testimonial {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    text-align: center;
}

.mbr-testimonial + * {
    padding-top: 40px;
}

.mbr-testimonial.card {
    background-color: transparent;
    border: none;
}

.mbr-testimonial .card-block {
    background: #f4f4f4;
    color: #565656;
    font-family: "Lora";
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    padding: 1.875rem;
    position: relative;
}

.mbr-testimonial .card-block:after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
}

.mbr-testimonial-lg .card-block {
    padding-bottom: 90px;
}

.mbr-testimonial .card-footer {
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.mbr-testimonial .card-footer:last-child {
    border-radius: 0;
}

.mbr-testimonial .comment {
    font-size: 1.2rem;
}

.mbr-testimonial .date-posted {
    font-size: 0.8rem;
}

.mbr-author-name {
    color: #2d2d2d;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.3;
    padding-top: 1.25rem;
}

.mbr-author img {
    border-radius: 50%;
    display: inline;
}

#reviews .row {
    margin-bottom: 3%;
}

#joined-users-text a {
    color: #4eb980;
}

#joined-users-text a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.friend-list .friend-card{
    border-radius: 4px;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;
    margin-bottom: 20px;
}

.friend-list .friend-card .card-info{
    padding: 0 20px 10px;
}

.friend-list .friend-card .card-info img.profile-photo-lg{
    border: 7px solid #fff;
}

img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.text-green {
    color: #8dc63f;
}

#link-to-map {
    color: #4eb980 !important;
    font-weight: bold;
    background: transparent;
    border: none;
}

#link-to-map:hover {
    border: 1px solid #4eb980;
    text-decoration: none;
    border-radius: 11%;
}